<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        id: bean的名称 唯一
        class bean的全类名，通过反射的方式在IOC容器中创建bean 所以要求bean中必须有无参构造器
        scope="prototype":用来设置bean的作用域：
            prototype：bean的实例化不是在容器初始化时创建，而是在调用的时候创建
            singleton:默认情况下采用单例模式进行创建，只会在容器初始化的时候创建bean的对象
    -->
    <bean id="helloWord" class="com.wondertek.self.spring.beans.HelloWord">
        <property name="name" value="spring"></property>
    </bean>

    <!--<bean id="myBeanPostProcessor" class="com.wondertek.self.spring.beans.MyBeanPostProcessor"></bean>-->
</beans>